<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Form Sample</title>
</head>
<body>
<div class="border">
    <p th:text="${moji}"></p>
    <p th:text="${datetime}"><p>
</div>
<form th:action="@{/greeting}" method="post">
<select name="countryName">
    <option value="japan">日本</option>
    <option value="us">アメリカ</option>
    <option value="korean">韓国</option>
    <option value="china">中国</option>
</select>
    <input type="submit" value="送信" />
</form>
</body>
</html>
